{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table class="table">
  <thead class="thead-dark"we>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Stock Symbol :</th>
      <th scope="col">Stock Quantity :</th>
      <th scope="col">Transaction Value :</th>
      <th scope="col">Transaction Type :</th>
      <th scope="col">Transaction Date:</th>
      <th scope="col">Transaction Time:</th>
    </tr>
  </thead>
  <tbody>
    {% for key in history %}

    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ key['stock_symbol'] }}</td>
      <td>{{ key['stock_quantity'] }}</td>
      <td>{{ key['transaction_value'] | usd }}</td>
      <td>{{ key['transaction_type'] }}</td>
      <td>{{ key['transaction_date'] }} </td>
      <td>{{ key['transaction_time'] }} </td>
    </tr>

    {% endfor %}

    </tbody>

</table>
{% endblock %}
