{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Stock Symbol :</th>
      <th scope="col">Stock cost :</th>
      <th scope="col">Stocks owned :</th>
      <th scope="col">Current stock Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key in portfolio %}

    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ key['stock_symbol'] }}</td>
      <td>{{ key['e_value'] | usd }}</td>
      <td>{{ key['stock_quantity'] }}</td>
      <td>{{ key['current_value'] | usd }} </td>
    </tr>

    {% endfor %}
     <tr>
      <th scope="row" colspan="4" style="text-align : right">Current Balance</th>
      <td>{{ bal | usd }}</td>
      </tr>
       <tr>
      <th scope="row" colspan="4" style="text-align : right">Grand Total</th>
      <td>{{  ts_value | usd }}</td>
      </tr>

    </tbody>

</table>
{% endblock %}
