{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
          {% for key, value in list.items() %}
            <div class="container text-center" style="background-color : #fff4f3; max-width : auto; font-size: 0.8cm; font-family : Verdana">
            <div class="row">
                <div class="col">
                {{ key }}
                </div>

                {%if loop.index==2 %}
                    <div class="col">
                    {{ value | usd}}
                    <div class="w-100"></div>
                {% else %}
                    <div class="col">
                    {{ value }}
                    <div class="w-100"></div>
                {% endif %}


                </div>
            </div>
            </div>

        {% endfor %}

{% endblock %}




